@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --fontFam1: "PT Serif", serif;
  --fontFam2: "Poppins", sans-serif;
  --fontFam3: "Montserrat", sans-serif;
  --colorPrimary: #000000;
  --colorSecundary: #a9a9a9;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 7.6% 17%;
}

.container-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-text h1 {
  font-family: var(--fontFam1);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.045em;
  color: var(--colorPrimary);
  width: 51.5%;
  margin-block-start: 0;
}

.text-subtitle {
  width: 40%;
}

.text-subtitle h2 {
  font-family: var(--fontFam2);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--colorPrimary);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 10px;
}

.text-subtitle p {
  font-family: var(--fontFam2);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--colorPrimary);
  margin-block-start: 0;
}

.wrapperImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 9%;
  gap: 5%;
  place-items: center;
}

div [class^="profile-"] {
  width: 93%;
}

div [class^="profile-"]:nth-child(2),
div [class^="profile-"]:nth-child(5) {
  padding-top: 33%;
}

div [class^="profile-"] figure {
  position: relative;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: flex;
  flex-direction: column;
}

div [class^="profile-"] img {
  width: 238px;
  height: 341px;
}

.position {
  font-family: var(--fontFam1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--colorPrimary);
  writing-mode: vertical-rl;
  position: absolute;
  right: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

figcaption {
  font-family: var(--fontFam2);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--colorPrimary);
  padding-top: 15px;
}

.footer,
.footer a {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--colorSecundary);
}

@media screen and (max-width: 767px) {
  .container {
    padding: 15% 12px;
  }

  .container-text {
    flex-direction: column;
  }

  .text-subtitle p {
    font-size: 14px;
    line-height: 21px;
  }

  .wrapperImages {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .container-text h1 {
    width: 100%;
  }

  .text-subtitle {
    width: 100%;
  }

  div [class^="profile-"] {
    width: 85%;
  }

  div [class^="profile-"]:nth-child(2),
  div [class^="profile-"]:nth-child(5) {
    padding-top: 0;
  }

  div [class^="profile-"]:nth-child(even) {
    padding-top: 33%;
  }

  div [class^="profile-"] img {
    width: 87%;
    height: auto;
  }

  .position {
    font-size: 10px;
    line-height: 13px;
  }

  figcaption {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: 1439px) {
  .container {
    padding: 6.6% 20px;
  }
  .wrapperImages {
    gap: 15px;
}
div [class^="profile-"] img {
  width: 215px;
  height: 289px;
}
div [class^="profile-"] {
  width: 75%;
}
}
